@page "/account/manage"
@inject NavigationManager NavigationManager


@attribute [Authorize]

<h3>Spravovat účet</h3>

<button @onclick="HandleClick">Změnit uživatelské jméno</button>

@code {

    private void HandleClick()
    {
        NavigationManager.NavigateTo("/account/manage/username");
    }
}
