@page "/register"

@using ToDoAplikace.Data


@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime


<LoadingSpinner IsLoading="isLoading"/>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card mt-5 p-3 shadow">
                <EditForm FormName="register" Model="registerModel" OnValidSubmit="HandleSubmit" >
                    <AntiforgeryToken/>
                    <DataAnnotationsValidator/>
                    
                    <div class="mb-3">
                        <label for="username" class="form-label">Přezdívka</label>
                        <InputText class="form-control" id="username" @bind-Value="registerModel.UserName"></InputText>
                        <ValidationMessage class="text-danger" For="() => registerModel.UserName"></ValidationMessage>
                    </div>
                    
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <InputText id="email" class="form-control" @bind-Value="registerModel.Email"></InputText>
                        <ValidationMessage class="text-danger" For="() => registerModel.Email"></ValidationMessage>
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label">Heslo</label>
                        <InputText type="password" id="password" @bind-Value="registerModel.Password" class="form-control"></InputText>
                        <ValidationMessage class="text-danger" For="() => registerModel.Password"></ValidationMessage>
                    </div>     
                    
                    <div class="mb-3">
                        <label for="confirm-password" class="form-label">Potvrďte heslo</label>
                        <InputText type="password" id="confirm-password" @bind-Value="registerModel.ConfirmPassword" class="form-control"></InputText>
                        <ValidationMessage class="text-danger" For="() => registerModel.ConfirmPassword"></ValidationMessage>
                    </div>

                    <div class="d-flex justify-content-between align-items-center gap-3">
                        <button class="btn btn-primary">Registrovat se</button>
                        <p class="mb-0">Už máte účet? <a href="/login">Přihlásit se</a></p>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div>
@code {
    RegisterModel registerModel = new RegisterModel();

    private bool _isLoading;

    private bool isLoading { get => _isLoading; set { _isLoading = value; StateHasChanged(); } }

    private async Task HandleSubmit()
    {
        isLoading = true;
        var request = await JSRuntime.InvokeAsync<bool>("auth.register", registerModel.UserName, registerModel.Email, registerModel.Password, registerModel.ConfirmPassword);

        isLoading = false;
        if (request)
        {
            NavigationManager.NavigateTo("/todo", true);
        }

    }
}