@page "/"

@namespace ToDoAplikace.Pages

<!DOCTYPE html>
<html>
<head>
    <title>My Blazor App</title>
    <base href="/" />
    <link href="/css/app.css" rel="stylesheet" />
</head>
<body>
<component type="typeof(App)" render-mode="ServerPrerendered" />
<script src="_framework/blazor.server.js"></script>
</body>
</html>