@page "/"
@using System.Reflection.Metadata


<h3>To Do</h3>

<p>V této aplikaci si můžete naplánovat svoje úlohy a zvýšit si tím produktivitu</p>

<button @onclick="HandleClick">Začít</button>

@code {

    [Inject] private NavigationManager _navigationManager { get; set; }

    private void HandleClick()
    {
        _navigationManager.NavigateTo("/todo");
    }
}
