@page "/todo"
@using Microsoft.AspNetCore.Identity
@using ToDoAplikace.Data
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject UserManager<User> UserManager
@inject SignInManager<User> SignInManager
@inject IJSRuntime JSRuntime

@attribute [Authorize]

<h3>Todo</h3>


<button class="btn btn-primary" type="button" @onclick="CreateTask">Vytvořit úlohu</button>

@code {

    private List<ToDoTask>? tasks { get; set; }

    private string userId { get; set; }

    protected override async Task OnInitializedAsync()
    {

    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var user = await UserManager.GetUserAsync(SignInManager.Context.User);

        if (user is not null && tasks is null)
        {
            userId = user.Id;
            await GetAllTasks();
        }
    }

    private async Task GetAllTasks()
    {
        tasks = await JSRuntime.InvokeAsync<List<ToDoTask>?>("tasks.getTasks", userId);

        StateHasChanged();
    }

    private void Neco()
    {
        Console.WriteLine("Ahoj");
    }

    private async Task CreateTask()
    {
        ToDoTask task = new ToDoTask() { Name = "Task", CreatedAt = DateTime.Now, Deadline = DateTime.Now, Description = "AHOj", UserId = userId };

        var taskJson = System.Text.Json.JsonSerializer.Serialize(task);

        var request = await JSRuntime.InvokeAsync<bool>("tasks.createTask", taskJson);

        if (request)
        {
            StateHasChanged();
        }
    }
}
